@model IEnumerable<CuaHangBanMayTInh.Models.Enites.GioHang>
@using CuaHangBanMayTInh.Models.Enites;
@{
    ViewBag.Title = "Cart";
}

<h1 style="text-align:center">Giỏ Hàng</h1>

<table class="table table-bordered">
    <tr>
        
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Giá
        </th>
        <th>
            Tông Giá Của Sản Phẩm
        </th>
        <th>
            Các Dịch Vụ 
        </th>
    </tr>
    @{long tong = 0;
        int sl = 0;}
@foreach (var item in Model) {
<tr>
    @{ 
        long tong1 = 0;
        tong1 = item.soLuong * item.donGia;
        tong += item.soLuong * item.donGia;
        sl += item.soLuong;
    }
    <form action="/Shop/EditCart?id=@item.maMayTinh" method="post">
        <td>
            @item.getTenMayTinh(item.maMayTinh)
        </td>
        <td>
            <input type="number" name="soLuong" id="soLuong" value="@item.soLuong" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donGia)
        </td>
        <td>
            @tong1
        </td>
        <td>
            <button type="submit" id="submitButton" class="btn btn-success">
                <i class="glyphicon glyphicon-repeat"></i> Xác Nhận Thay Đổi 
            </button>
            <a href="/Shop/DeleteFromCart?maMayTinh=@item.maMayTinh" class="btn btn-danger " onclick = "return confirm('Bạn Muốn Xóa Không ?')">
                <i class="glyphicon glyphicon-remove"></i> Xóa Khỏi Giỏ Hàng 
            </a>
        </td>
    </form>
</tr>
}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    
    </tr>
    <tr>
        <td> Tổng số Lượng Và Giá Trị </td>
        <td> @sl</td>
        <td></td>
        <td> @tong</td>
    </tr>


</table>
<a href="/Shop/XacNhanGioHang" style="text-align:center" class="btn btn-warning btn-block" onclick = "return confirm('Are you sure you want to buy this ?')">Xác Nhận Mua</a>
