@model IPagedList<CuaHangBanMayTInh.Models.Enites.MayTinh>
@using PagedList.Mvc;
@using PagedList;
@using CuaHangBanMayTInh.Models.Enites;

    <div class="content content container-fluid row">
        

        <div class="navbar-inner">
            <form action="/Shop/Index">
                <i class="glyphicon glyphicon-glass">Tìm kiếm sản phẩm </i>
                <input type="text" name="stringFind" class="srchTxt" placeholder=" tên máy tính" value="@ViewBag.stringFind" />
                <select name="stringFindLoai" class="srchTxt ">
                    @{
                        if (ViewBag.stringFindLoai == null)
                        {
                            <option value="">Tất Cả</option>
                        }
                        else
                        {
                            <option value="@ViewBag.stringFindLoai">@ViewBag.stringFindLoai</option>
                        }
                    }
                    @{Model1 db = new Model1();
                        var list = db.LoaiMayTinhs.ToList();
                        foreach (var item in list)
                        {
                            <option value="@item.maLoai">@Html.DisplayFor(modelItem => item.tenLoai)</option>
                        }
                    }
                    <option value="">Tất Cả</option>
                </select>
                <select name="sapXep" class="srchTxt">
                    <option value="@ViewBag.sapXep">@ViewBag.sapXep</option>
                    <option value="maMayTinh">MaMayTinh</option>
                    <option value="tenMayTinh">tenMayTinh</option>
                    <option value="gia">Gia</option>
                </select>
                <button type="submit" id="submitButton" class="btn-danger">Tìm Kiếm </button>
            </form>
        </div>
        <br />
        <br />
        <p />


        <div>
            <div class="container">
                @foreach (var item in Model)
                {
                    <div class="border" style="width:32%; float:left;">
                        <label>Sản Phẩm :</label><b>@item.tenMayTinh</b>
                        <br />
                        <div style="height:300px; ">
                            @{
                                string anh = "/Content/Photo/" + item.maMayTinh + ".jpg";
                            }
                            <img class="fullSreen " style="width:100%; height:290px" src="@anh" />
                        </div>
                        <label>
                            Giá : <b> @item.Gia</b>
                        </label>

                        @Html.ActionLink("Thêm Vào Giỏ Hàng", "AddToCart", "Shop", new { id = item.maMayTinh, tenSanPham = item.tenMayTinh, donGia = item.Gia.ToString() }, new { @class = "btn btn-info" })
                    </div>
                }

            </div>
        </div>
        <div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, stringFind = ViewBag.stringFind, stringFindLoai = ViewBag.stringFindLoai, sapXep = ViewBag.sapXep }))

        </div>
    </div>