@model IPagedList<CuaHangBanMayTInh.Models.Enites.MayTinh>
@using PagedList.Mvc;
@using PagedList;

<head runat="server">
    <asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/XYZ.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
        <script src="/Scripts/modernizr-2.8.3.js"></script>
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
    </asp:Content>
</head>
<br />
<div>
    <a href="/Shop/Cart"> Cart View</a>
</div>

<div class="jumbotron" style="background-color:aquamarine">
    <h1>Cửa Hàng Bán Máy Tính Thành Công</h1>
    <p class="lead">Cửa Hàng Thành Công Bán Các Thiết Bị Máy Tính Và Phân Phối Sản Phẩm Trên Toàn Quốc </p>
</div>

<br />

<div>
    <form action="/Shop/Index">
        <div class="col-md-6">
            <div class="form-group">
                <label>Tìm Kiếm Tên Máy Tính : </label>
                <input type="text" name="stringFind" placeholder=" tên máy tính" value="@ViewBag.stringFind">
                <input type="submit" class="btn-file" />
            </div>
        </div>
    </form>
</div>

<div>
    <div class="container">
        <ul>
            @foreach (var item in Model)
            {
                <li class="list-group-item" style="width:32%; float:left;">
                    <label>Sản Phẩm :</label><b>@item.tenMayTinh</b>
                    <br />
                    <div style="height:300px; ">
                        @{
                            string anh = "/Content/Photo/" + item.maMayTinh + ".jpg";
                        }
                        <img class="fullSreen " style="width:100%;" src="@anh" />
                    </div>
                    <label>
                        Giá : <b> @item.Gia</b>
                    </label>

                    @Html.ActionLink("Add To Cart", "AddToCart", "Shop", new { id = item.maMayTinh, donGia = item.Gia.ToString() }, new { @class="btn btn-info"})
                </li>
            }
        </ul>
    </div>
</div>