@model IEnumerable<CuaHangBanMayTInh.Models.Enites.GioHang>
@using CuaHangBanMayTInh.Models.Enites;
@{
    ViewBag.Title = "Cart";
}


<h1 style="text-align:center">Xác Nhận Của Khách Hàng </h1>

<table class="table table-bordered">
    <tr>

        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Giá
        </th>
        <th>
            Tông Giá Của Sản Phẩm
        </th>
    </tr>
    @{long tong = 0;
        int sl = 0;}
    @foreach (var item in Model)
    {
        <tr>
            @{
                long tong1 = 0;
                tong1 = item.soLuong * item.donGia;
                tong += item.soLuong * item.donGia;
                sl += item.soLuong;
            }
            <td>
                @item.getTenMayTinh(item.maMayTinh)
            </td>
            <td>
                @item.soLuong
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.donGia)
            </td>
            <td>
                @tong1
            </td>

        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td></td>
        <td> @sl</td>
        <td></td>
        <td> @tong</td>
    </tr>
</table>
<a href="/Shop/Cart" style="text-align:center; float:right " class="btn btn-warning btn-outline-success" onclick="return confirm('Are you sure you want to buy this ?')">Quay Lại</a>
@{ 
    var khachHang = (KhachHang)ViewData["khachHang"];
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <form class="login100-form validate-form" action="/Shop/XacNhanGioHang" method="post">
                <span class="login100-form-title p-b-33">
                    Create
                </span>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" onkeyup="checkToSignIn()" name="tenKH" id="tenKH" value="@khachHang.tenKH" readonly>

                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>

                <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                    <input class="input100" type="text" onkeyup="checkToSignIn()" name="tenDangNhap" id="tenDangNhap" value="@khachHang.tenDangNhap" readonly>
                    <span class="glyphicon glyphicon-user form-control-feedback" id="er_user"></span>
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>

                <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" onkeyup="checkToSignIn()" name="matKhau" id="matKhau" placeholder="Mật khẩu">
                    <span class="glyphicon glyphicon-eye-close form-control-feedback" id="er_password"></span>
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>

                <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" onkeyup="checkToSignIn()" name="matKhau1" id="matKhau1" placeholder="Nhập Lại Mật khẩu">
                    <span class="glyphicon glyphicon-eye-close form-control-feedback" id="er_password1"></span>
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>
                <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                    <input class="input100" type="text" onkeyup="checkToSignIn()" name="gmail" id="gmail" value="@khachHang.gmail.ToString().Replace(" ","")" readonly>
                    <span class="glyphicon glyphicon-send form-control-feedback" id="er_gmail"></span>
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>
                <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                    <input class="input100" type="number" onkeyup="checkToSignIn()" name="SDT" id="SDT" placeholder="Số Điện Thoại">
                    <span class="glyphicon glyphicon-earphone form-control-feedback" id="er_SDT"></span>
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>
                <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                    <input class="input100" type="text" onkeyup="checkToSignIn()" name="diaChi" id="diaChi" placeholder="Địa Chỉ">
                    <span class="glyphicon glyphicon-earphone form-control-feedback" id="er_diaChi"></span>
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>


                <div class="container-login100-form-btn m-t-20">
                    <button class="login100-form-btn glyphicon glyphicon-cloud-upload" onclick="return confirm('Xác Nhận Mua Hàng ?')">
                        Xác Nhận Mua Hàng
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("form").submit(function (event) {
        if ($("#tenDangNhap").val().length > 4) {
            if ($("#matKhau").val().length > 4 && $("#matKhau").val() == $("#matKhau1").val()) {
                if ($("#SDT").val().length > 8 && $("#SDT").val().length < 10) {
                    if (isEmail($("#gmail").val()))
                        if ($("diaChi").val().length > 10)
                        return;
                }
            }
        }
        javascrpit: alert('error');
        event.preventDefault();
    });

</script>
<script>
    function checkToSignIn() {
        var value_user = document.getElementById("tenDangNhap").value;
        if (value_user.length <= 4) {
            var a = "ERR";
            document.getElementById("er_user").innerHTML = a.fontcolor("red");
        }
        else {
            var a = "OK";
            document.getElementById("er_user").innerHTML = a.fontcolor("green");
        }

        var value_password = document.getElementById("matKhau").value;
        if (value_password.length <= 4) {
            var a = "ERR";
            document.getElementById("er_password").innerHTML = a.fontcolor("red");
        }
        else {
            var a = "OK"
            document.getElementById("er_password").innerHTML = a.fontcolor("green");
        }

        var value_password1 = document.getElementById("matKhau1").value;
        if (value_password != value_password1) {
            var a = "ERR";
            document.getElementById("er_password1").innerHTML = a.fontcolor("red");
        }
        else {
            var a = "OK"
            document.getElementById("er_password1").innerHTML = a.fontcolor("green");
        }

        if (isEmail(document.getElementById("gmail").value)) {
            var a = "OK"
            document.getElementById("er_gmail").innerHTML = a.fontcolor("green");
        }
        else {
            var a = "ERR";
            document.getElementById("er_gmail").innerHTML = a.fontcolor("red");
        }

        if (document.getElementById("SDT").value.length > 8 && document.getElementById("SDT").value.length < 10) {
            var a = "OK"
            document.getElementById("er_SDT").innerHTML = a.fontcolor("green");
        }
        else {
            var a = "ERR";
            document.getElementById("er_SDT").innerHTML = a.fontcolor("red");
        }

        if (document.getElementById("diaChi").value.length > 10) {
            var a = "OK"
            document.getElementById("er_diaChi").innerHTML = a.fontcolor("green");
        }
        else {
            var a = "ERR";
            document.getElementById("er_diaChi").innerHTML = a.fontcolor("red");
        }

        //var value_repassword = document.getElementById("repassword").value;
        //if (value_repassword.length > 6) {
        //	if (value_password != value_repassword) {
        //		var a = "err: cant match password";
        //		document.getElementById("er_repassword").innerHTML = a.fontcolor("red");
        //	}
        //	else {
        //		var a = "match";
        //		document.getElementById("er_repassword").innerHTML = a.fontcolor("green");
        //	}
        //}
    }

</script>



